* {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    overflow-x: hidden;
  }
  
  .header_div {
    width: 100px;
    height: 100vh;
    background-color: rgb(13, 154, 144); 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0 35px 35px 0; 
  }
  .picture{
    width: 70px;
    height: auto;
    padding: 10px;
  }
  
  .header_div nav a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 5px;
    font-size: 15px;
    text-align: center;
  }

  .header_div nav a:hover {
    color: greenyellow;
    background-color: rgb(29, 137, 244);
    border-radius: 10px;
}

  .header_banner {
    flex-grow: 1; 
    background-image: url('./src/images/fondo.png');
    background-size: cover;
    background-position: center;  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .banner {
    text-align: center;
  }
  
  .banner_title h1, .banner_title h2 {
    margin: 0;
  }

  .banner_title h1{
    text-align: center;
    color:darkcyan;
    font-size: 30px;
    padding: 10px;
}

.banner_title h2{
    text-align: center;
    color:black;
    font-size: 15px;
    padding: 10px;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    font-size: 15px;
    color:rgb(45, 45, 45);
}

ul li {
    margin: 0 10px;
}

.cv {
    display: inline-block;
    margin-top: 40px;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    background-color: rgb(13, 154, 144);
    border-radius: 5px;
    font-size: 15px;
}

.cv:hover{
    background-color: rgb(29, 137, 244);
    color: greenyellow;
}

 /*burbujas*/

 .burbuja{
    border-radius: 50%;
    background-color: rgb(29, 137, 219);
    opacity: .3;
    position: fixed;
    bottom: 0;
    animation: burbujas 3s linear infinite reverse ;

 }

 .burbuja:nth-child(1){
    width: 50px;
    height: 50px;
    left: 5%;
    animation-duration: 3s;
    animation-delay: 3s;
 }

 .burbuja:nth-child(2){
    width: 60px;
    height: 60px;
    left: 15%;
    animation-duration: 3s;
    animation-delay: 5s;
 }

 .burbuja:nth-child(3){
    width: 40px;
    height: 40px;
    left: 30%;
    animation-duration: 3s;
    animation-delay: 4s;
 }

 .burbuja:nth-child(4){
    width: 20px;
    height: 20px;
    left: 45%;
    animation-duration: 3s;
    animation-delay: 8s;
 }

 .burbuja:nth-child(5){
    width: 5px;
    height: 5px;
    left: 60%;
    animation-duration: 3s;
    animation-delay: 2s;
 }

 .burbuja:nth-child(6){
    width: 15px;
    height: 15px;
    left: 65%;
    animation-duration: 3s;
    animation-delay: 6s;
 }

 .burbuja:nth-child(7){
    width: 30px;
    height: 30px;
    left: 80%;
    animation-duration: 3s;
    animation-delay: 4s;
 }

 .burbuja:nth-child(8){
    width: 60px;
    height: 60px;
    left: 90%;
    animation-duration: 3s;
    animation-delay: 2s;
 }


 @keyframes burbujas{
    0%{
        bottom:0;
        opacity: 0;
    }
    50%{
        opacity: .4;
    }
    100%{
        bottom: 100vh;
        opacity: 0;
    }

 }

 /* segunda pagina */


.about{
  background:linear-gradient(to bottom, white,  rgb(13, 154, 144));
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.about_title{
  color: darkcyan;
  font-size: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
  margin-bottom: 10px;
}

.about h3{
  color: white;
  background: darkcyan;
  width: 200px;
  font-size: 15px;
  justify-content: space-around;
  align-items: center;
}

.family{
  width: 200px;
  height: 200px;
  margin: 20px;
  background-color: transparent;
  border-radius: 40%;
}

.about p{
  width: 290px;
  text-align: justify;
  font-size: 15px;
}

.about ul li {
  list-style: none;
  display: flex;
  font-size: 25px;
  margin: 10px;
}

.about ul li i {
  color: rgb(2, 2, 2); 
}

.about ul li i:hover {
  color: white; 
}

/*  projects   */

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.subtitle {
  color: darkcyan;
  font-size: 30px;
  margin-bottom: 20px;
}

#loading {
  width: 250px;
  height: 110px;
  background: url('https://media.giphy.com/media/RHEqKwRZDwFKE/giphy.gif') center/cover no-repeat;
}

/*certificaciones*/

.certification {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background:linear-gradient(to bottom, white,  rgb(13, 154, 144));
}

.diplomas {
  display: grid;
  grid-template-columns: repeat(1, 4fr);
  gap: 20px;
  max-width: 800px;
  margin: auto;
}

.diploma {
  width: 100%;
  height: 110px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* contacto */

.contact-section {
  display: block;
  align-items: center;
  justify-content: center;
  background-image: url('./src/images/fondo.png');
  margin: 5px;
}

.contact-section h2{
  display:flex;
  justify-content: center;
  color:darkcyan;
  font-size: 30px;
  margin: 5px;
}

.contact-content p{
  font-size: 18px;
  text-align: justify;
}

.contact-content ul li i{
  color:darkcyan;
  font-size: 20px;
  margin: 2px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contact-form label {
  font-weight: bold;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.contact-form button {
  padding: 10px;
  background-color: darkcyan;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.contact-form button:hover {
  background-color: #0056b3;
}

/* footer*/

.footer{
  background-color: darkcyan;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.logo{
  width: 50px;
  height: 50px;
  padding: 5px;
  border-radius: 50%;
}