* {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    overflow-x: hidden;
  }
  
  .header_div {
    width: 100px;
    height: 100vh;
    background-color: rgba(0, 0, 255, 0.715); 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 2px;
  }
  
  .header_div nav a {
    display: block; 
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
    padding: 5px;
    margin-right: 10px;
    padding: 2px;
    font-size: 15px;
    text-align: center;
  }

  .header_div nav a:hover {
    color: yellow;
    background-color: aqua;
    border-radius: 10px;
}
  
  .header_banner {
    flex-grow: 1; 
    background-image: url('./src/images/texturapapel.png');
    background-size: cover;
    background-position: center;  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .banner {
    text-align: center;
  }
  
  .banner_title h1, .banner_title h2 {
    margin: 0;
  }

  .banner_title h1{
    text-align: center;
    color:orangered;
    font-size: 30px;
    padding: 10px;
}

.banner_title h2{
    text-align: center;
    color:black;
    font-size: 15px;
    padding: 10px;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    font-size: 15px;
    color:rgb(45, 45, 45);
}

ul li {
    margin: 0 10px;
}

.cv {
    display: inline-block;
    margin-top: 40px;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    background-color: rgba(0, 0, 255, 0.715);
    border-radius: 5px;
    font-size: 15px;
}

.cv:hover{
    background-color: rgb(29, 137, 244);
    color: orangered;
}

 /*burbujas*/

 .burbuja{
    border-radius: 50%;
    background-color: rgb(29, 137, 219);
    opacity: .3;
    position: fixed;
    bottom: 0;
    animation: burbujas 3s linear infinite reverse ;

 }

 .burbuja:nth-child(1){
    width: 50px;
    height: 50px;
    left: 5%;
    animation-duration: 3s;
    animation-delay: 3s;
 }

 .burbuja:nth-child(2){
    width: 60px;
    height: 60px;
    left: 15%;
    animation-duration: 3s;
    animation-delay: 5s;
 }

 .burbuja:nth-child(3){
    width: 40px;
    height: 40px;
    left: 30%;
    animation-duration: 3s;
    animation-delay: 4s;
 }

 .burbuja:nth-child(4){
    width: 20px;
    height: 20px;
    left: 45%;
    animation-duration: 3s;
    animation-delay: 8s;
 }

 .burbuja:nth-child(5){
    width: 5px;
    height: 5px;
    left: 60%;
    animation-duration: 3s;
    animation-delay: 2s;
 }

 .burbuja:nth-child(6){
    width: 15px;
    height: 15px;
    left: 65%;
    animation-duration: 3s;
    animation-delay: 6s;
 }

 .burbuja:nth-child(7){
    width: 30px;
    height: 30px;
    left: 80%;
    animation-duration: 3s;
    animation-delay: 4s;
 }

 .burbuja:nth-child(8){
    width: 60px;
    height: 60px;
    left: 90%;
    animation-duration: 3s;
    animation-delay: 2s;
 }


 @keyframes burbujas{
    0%{
        bottom:0;
        opacity: 0;
    }
    50%{
        opacity: .4;
    }
    100%{
        bottom: 100vh;
        opacity: 0;
    }

 }
