/* contacto */

.contact-section {
    display: block;
    align-items: center;
    width: 100%;
    justify-content: center;
    background-color:#f5f5f5;
  }
  
  .contact-section h2{
    font-family: 'Montserrat', sans-serif;
    display:flex;
    justify-content: center;
    color:#5c5c5c;
    font-size: 30px;
    padding: 10px;
    @media all and (min-width: 768px){
      font-size: 35px;
      padding: 20px;
    }
  }
  
  .contact-content p{
    font-size: 16px;
    text-align: justify;
    padding: 10px;
    font-family: 'Cormorant Garamond', serif;
    @media all and (min-width: 768px){
      font-size: 25px;
      width: 700px;
    }
    @media all and (min-width: 1200px){
      font-size: 25px;
      width: 1200px;
    }
  }
  
  .contact-content ul li i{
    color:#003f8f;
    font-size: 15px;
    margin: 2px;
    padding: 10px;
    @media all and (min-width: 768px){
      font-size: 25px;
    }
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 15px;
  }
  
  .contact-form label {
    font-weight: bold;
    font-family: 'Cormorant Garamond', serif;
    font-size: 15px;
    @media all and (min-width: 768px){
      font-size: 20px;
    }
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 2px solid #3F51B5;
  }
  
  .contact-form button {
    padding: 10px;
    background-color: #dedeff;
    color: #757de8;
    border: 2px solid #3F51B5;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    @media all and (min-width: 768px){
      font-size: 20px;
    }
  }
  
  .contact-form button:hover {
    background-color: #3F51B5;
    color: #ffc3d4;
  }

  .box{
    font-family: 'Cormorant Garamond', serif;
    font-size: 15px;
    @media all and (min-width: 768px){
      font-size: 20px;
    }

  }