/*  projects   */

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background:linear-gradient(to bottom, #2a9235,  #e6fbe3);
  }
  
  .subtitle {
    color: #333333;
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  #loading {
    width: 250px;
    height: 110px;
    background: url('https://media.giphy.com/media/RHEqKwRZDwFKE/giphy.gif') center/cover no-repeat;
    
  }