/*  projects   */

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    margin: 0;
    background:#f5f5f5;
    @media all and (min-width: 768px){
      height: auto;
    }
  }
  
  .subtitle {
    color: #5c5c5c;
    padding-top: 20px;
    font-size: 30px;
    margin-bottom: 20px;
    @media all and (min-width: 768px){
      font-size: 40px;
    }
  }
  
  .text{
    font-size: 14px;
    color: #333333;
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
    @media all and (min-width: 768px){
      font-size: 24px;
      width: 600px;
    }
    @media all and (min-width: 1200px){
      font-size: 24px;
      width: 900px;
    }
  }

  .projectAdams{
    display: flex;
    padding: 20px;
    align-items: center;
    flex-direction: column;
  }

  .projectDetective{
    display: flex;
    padding: 20px;
    align-items: center;
    flex-direction: column;
  }

  .names{
    padding: 15px;
    font-size: 20px;
    color: #5c5c5c;
    @media all and (min-width: 768px){
      font-size: 30px;
    }
  }

  .landing{
    width: 220px;
    height: 150px;
    border: 3px solid #5c5c5c;
    @media all and (min-width: 768px){
      width: 520px;
      height: 250px;
    }
    
  }

  .loader-container {
    position: relative;
    width: 50%; 
    background-color: #dedeff;
    height: 30px; 
    border-radius: 15px; 
    overflow: hidden;
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: 10px;
    margin-bottom: 50px;
    border: 3px solid #757de8;
    @media all and (min-width: 768px){
      width: 70%;
    } 
  }
  
  .loader-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #757de8; 
    width: 0%; 
    border-radius: 15px; 
    animation: loadingAnimation 2s ease-in-out infinite;
  }
  
  .loading-text {
    position: absolute;
    color: #000;
    font-size: 16px;
    @media all and (min-width: 768px){
      font-size: 25px;
    } 
  }
  
  @keyframes loadingAnimation {
    0%, 100% {
      width: 0%; 
    }
    50% {
      width: 100%;
    }
  }
  
  .button-link {
    display: inline-block;
    padding: 10px 20px; 
    background-color: #757de8;
    color: white; 
    text-decoration: none; 
    border-radius: 5px;
    font-size: 16px; 
    transition: background-color 0.3s;
    margin: 10px;
    @media all and (min-width: 768px){
      font-size: 20px;
    } 
  }
  
  .button-link:hover {
    background-color: #3F51B5;
  }
  
  .adams{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: auto;
      margin: 0;
      background:#f5f5f5;
      @media all and (min-width: 768px){
        height: auto;
      }
    }

  .pro{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: auto;
      margin: 0;
      background:#f5f5f5;
      @media all and (min-width: 768px){
        height: auto;
      }
  }

  .other{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    margin: 0;
    background:#f5f5f5;
    @media all and (min-width: 768px){
      height: auto;
    }
  }
  
  