/*Menù lateral*/

#btn-menu{
    display: none;
  }
  .container-menu{
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
  }
  #btn-menu:checked ~ .container-menu{
    opacity: 1;
    visibility: visible;
  } 
  .cont-menu{
    width: 100%;
    max-width: 250px;
    background: #0a490a;
    height: 100vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
  }
  #btn-menu:checked ~ .container-menu .cont-menu{
    transform: translateX(0%);
  }
  .cont-menu nav{
    transform: translateY(15%);
  }
  .cont-menu nav a{
    display: block;
    text-decoration: none;
    padding: 20px;
    color: white;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
  }
  .cont-menu nav a:hover{
    border-left: 5px solid yellow;
    color: yellow;
  }
  .cont-menu label{
    position: absolute;
    right: 5px;
    top: 10px;
    color: rgb(240, 139, 7);
    cursor: pointer;
    font-size: 18px;
  }